# Angular cache
.angular/

# Distribution folder
dist/

# Node modules
node_modules/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary files
tmp/
temp/
