<div fxLayout="row" fxLayoutAlign="start center" class="form-container">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="select-field">
        <mat-label>Choose an option</mat-label>
        <select matNativeControl>
        <option value="" selected></option>
        <option value="name">Name</option>
        <option value="age">Age</option>
        <option value="email">Email</option>
        <option value="gender">Gender</option>
        </select>
    </mat-form-field>
</div>