<nav>
  <div class="settings-section">
    <button mat-mini-fab aria-label="Search button" (click)="toggleInput()">
      <mat-icon>search</mat-icon>
    </button>

    <h2 *ngIf="!showInput" class="table-name">Table Name</h2>

    <mat-form-field
      appearance="outline"
      *ngIf="showInput"
      class="transition-input"
    >
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Search"
        [(ngModel)]="inputValue"
        (input)="filterTables()"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="person-selectors" *ngIf="selectedView === 'personView'">
    <mat-form-field appearance="outline">
      <select
        matNativeControl
        required
        [(ngModel)]="selectedCategory"
        (change)="onCategoryChange()"
      >
        <option [value]="null" disabled selected>Category</option>
        <option value="student">Student</option>
        <option value="parent">Parent</option>
        <option value="staff">Staff</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <select
        matNativeControl
        required
        [(ngModel)]="selectedStatus"
        (ngModelChange)="filterNavItems()"
      >
        <option [value]="null" disabled selected>Status</option>
        <option value="valid">Valid</option>
        <option value="invalid">Invalid</option>
      </select>
    </mat-form-field>

    <!-- <button
      mat-mini-fab
      color="warn"
      (click)="clearFilter()"
      aria-label="Clear Filter"
    >
      <mat-icon>clear</mat-icon>
    </button> -->
  </div>

  <ul>
    <li *ngFor="let item of filteredNavItems">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-button"
        (click)="selectTable(item)"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>

  <div class="settings-section">
    <mat-divider> </mat-divider>
    <button mat-mini-fab aria-label="Settings button">
      <mat-icon>settings</mat-icon>
    </button>
    <div class="toggle-container">
      <span class="toggle-label">Progress</span>
      <label class="custom-toggle">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
</nav>
