/* If you don't have a main element, you can wrap your router-outlet in a div and apply the margin */
.topheader {
  padding: 25px;
}

.content {
  margin-top: 80px;
  margin-left: 280px;
  height: 100%;
  /* padding: 1rem; */
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

app-navbar {
  flex: 1; /* Takes up the remaining space in the container */
}
