/* If you don't have a main element, you can wrap your router-outlet in a div and apply the margin */
.topheader {
padding: 25px;
}

.content {
  /* margin-top: 100px; */
  margin-left: 300px;
  height: 100%;
  /* padding: 1rem; */
}

.filterbar {
  display: flex;
  margin-left: 300px;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

app-navbar {
  flex: 1; /* Takes up the remaining space in the container */
}