<div class="custom-form-container">
  <h2>
    {{ personForm.get("firstName")?.value }}
    {{ personForm.get("lastName")?.value }}
  </h2>
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <!-- Three fields per row -->
    <div class="form-row-4">
      <div class="form-group">
        <label for="firstName">
          First Name <span class="required">*</span>
        </label>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="lastName">
          Last Name <span class="required">*</span>
        </label>
        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="middleName"
          >Middle Name <span class="required">*</span></label
        >
        <input
          id="middleName"
          type="text"
          formControlName="middleName"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="gender"> Gender <span class="required">*</span> </label>
        <select
          id="gender"
          formControlName="gender"
          class="custom-input req-field"
        >
          <option value="" disabled selected>Select gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <!-- Three fields per row -->
    <div class="form-row-2">
      <div class="form-group">
        <label for="address1"> Address <span class="required">*</span> </label>
        <input
          id="address1"
          type="text"
          formControlName="address1"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="address2"> Secondary Address </label>
        <input
          id="address1"
          type="text"
          formControlName="address2"
          class="custom-input req-field"
        />
      </div>
    </div>
    <!-- Three fields per row -->
    <div class="form-row-4">
      <div class="form-group">
        <label for="city"> City <span class="required">*</span> </label>
        <input
          id="city"
          type="text"
          formControlName="city"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="state"> State <span class="required">*</span> </label>
        <select
          id="state"
          formControlName="state"
          class="custom-input req-field"
        >
          <option value="" disabled selected>Select state</option>
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AZ">AZ</option>
          <option value="AR">AR</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="IA">IA</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="ME">ME</option>
          <option value="MD">MD</option>
          <option value="MA">MA</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MS">MS</option>
          <option value="MO">MO</option>
          <option value="MT">MT</option>
          <option value="NE">NE</option>
          <option value="NV">NV</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NY">NY</option>
          <option value="NC">NC</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WV">WV</option>
          <option value="WI">WI</option>
          <option value="WY">WY</option>
        </select>
      </div>
      <div class="form-group">
        <label for="zip"> Zip <span class="required">*</span> </label>
        <input
          id="zip"
          type="text"
          formControlName="zip"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="country"> Country <span class="required">*</span> </label>
        <input
          id="country"
          type="text"
          formControlName="country"
          class="custom-input req-field"
        />
      </div>
    </div>
    <div class="form-row-4">
      <div class="form-group">
        <label for="homePhone">
          Home Phone <span class="required">*</span>
        </label>
        <input
          id="homePhone"
          type="text"
          formControlName="homePhone"
          class="custom-input req-field"
        />
        <!-- <div
            class="error-message"
            *ngIf="personForm.get('email')?.errors?.validateDataError"
          >
            {{ personForm.get("email")?.errors?.validateDataError }}
          </div> -->
      </div>
      <div class="form-group">
        <label for="cellPhone">
          Cell Phone <span class="required">*</span>
        </label>
        <input
          id="cellPhone"
          type="text"
          formControlName="cellPhone"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="email">Email <span class="required">*</span> </label>
        <input
          id="email"
          type="text"
          formControlName="email"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="email2"> Secondary Email </label>
        <input
          id="email2"
          type="text"
          formControlName="email2"
          class="custom-input req-field"
        />
      </div>
    </div>
    <div class="form-row-4">
      <div class="form-group">
        <label for="ssn"> SSN <span class="required">*</span> </label>
        <input
          id="ssn"
          type="text"
          formControlName="ssn"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="maritalStatus">
          Marital Status <span class="required">*</span></label
        >
        <input
          id="maritalStatus"
          type="text"
          formControlName="maritalStatus"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="citizenship"> Citizenship </label>
        <input
          id="citizenship"
          type="text"
          formControlName="citizenship"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="primarylanguage">Primary Language </label>
        <input
          id="primarylanguage"
          type="text"
          formControlName="primarylanguage"
          class="custom-input req-field"
        />
      </div>
    </div>
    <div class="form-row-4">
      <div class="form-group">
        <label for="birthDate">
          Birth Date <span class="required">*</span>
        </label>
        <input
          id="birthDate"
          type="date"
          formControlName="birthDate"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="suffix">Suffix <span class="required">*</span></label>
        <input
          id="suffix"
          type="text"
          formControlName="suffix"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input
          id="company"
          type="text"
          formControlName="company"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="relationship">Relationship</label>
        <input
          id="relationship"
          type="text"
          formControlName="relationship"
          class="custom-input req-field"
        />
      </div>
    </div>

    <div class="form-row-3">
      <div class="form-group">
        <label for="bachelorDegree"> Bachelor Degree </label>
        <input
          id="bachelorDegree"
          type="text"
          formControlName="bachelorDegree"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="bachelorSchool"> Bachelor School </label>
        <input
          id="bachelorSchool"
          type="text"
          formControlName="bachelorSchool"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="bachelorYear">Bachelor Year </label>
        <input
          id="bachelorYear"
          type="text"
          formControlName="bachelorYear"
          class="custom-input req-field"
        />
      </div>
    </div>
    <div class="form-row-3">
      <div class="form-group">
        <label for="bachelorDegree2"> Secondary Bachelor Degree </label>
        <input
          id="bachelorDegree2"
          type="text"
          formControlName="bachelorDegree2"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="bachelorSchool2"> Secondary Bachelor School </label>
        <input
          id="bachelorSchool2"
          type="text"
          formControlName="bachelorSchool2"
          class="custom-input req-field"
        />
      </div>
      <div class="form-group">
        <label for="bachelorYear2">Secondary Bachelor Year </label>
        <input
          id="bachelorYear2"
          type="text"
          formControlName="bachelorYear2"
          class="custom-input req-field"
        />
      </div>
    </div>
    <div class="submit-container">
      <button type="submit" class="custom-button">Update</button>
      <span
        *ngIf="submissionMessage"
        [ngClass]="{
          'success-message': personForm.get('isValid')?.value,
          'error-message': !personForm.get('isValid')?.value
        }"
      >
        {{ submissionMessage }}
      </span>
    </div>
  </form>
</div>
